body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font: size 16px; 
    line-height: 1.42;
    background: #29292c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul li{
    list-style: none;
}
.container{
    margin: 0 auto;
    width: 1150px;
}
.
.header {
    height: 120px;
    position: relative;
}
.logo{
    display: block;
    position: absolute;
    top: 29px;
    left: 0px;
}
.menu{
    position: absolute;
    top: 29px;
    left: 79px;
}
.contacts {
    position: absolute;
    top: 27px;
    right: 0px;
}
.nav__item {
display: inline-block;
vertical-align: middle;
margin-right: 50px;

}
.nav__link {
    font-size: 14px;
    text-decoration: none;

}
.contacts {
    font-size: normal;
}
.contacts__phone {
    text-decoration: none ;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}
