.form{
    display: flex;
    margin-bottom: 20px;
    
}
.order-section{
    background: gray;
}
.form__col{
    flex: 1;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}

.form__row{
    display: flex;
}

.form__block{
    flex: 1;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    display: block;
    width: 100%;
    border: solid 3px transparent;
    padding: 18px 12px;
    height: 58px;
    &--textarea{
    width: 450px;
    height: 152px;
    }
    &:focus{
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__title{
    text-align: left;
}